{{#partial "content"}}
    <div class="container-fluid">
    <div class="row min-vh-100 text-center justify-content-center align-items-center flex-column" id="main-page">
        <div class="logo"><img src="/images/logo.png" height="100px" width="100px"></div><br>
        <h1 id="color"><strong>Welcome<br><br> To <br><br> The Wildlife Tracker</strong></h1>
       <br>
        <p id="size">As a Ranger, this app will allow you to record your animal sightings and view all animals recorded.<br>One! Two! Three! Let's get sighting</P>
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <img src="/images/elephant.jpeg" height="300px" width="300px">
            <a href="/animal/"><button class="btn btn-warning">Animals</button></a>
        </div>
        <div class="col-md-6">
            <img src="/images/hirola.jpg" height="300px" width="300px">
            <a href="/endangered/"><button class="btn btn-warning">Endangered animal</button></a>
        </div>
    </div>
    </div>
    </div>
{{/partial}}
{{> layout.hbs}}

