<!DOCTYPE html>
<html>
<head>
    <title>Wildlife tracking app</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
</head>
<body>
<div class="container-fluid">
    <div class="row min-vh-100 text-center justify-content-center align-items-center flex-column" id="main-page">
    <div class="page-header bg-warning">
        <h1 class="main"><a href="/"><img src="/images/logo.png" height="50px" width="50px"></a> One! Two! Three! Let's get Sighting</h1>
    </div>
        <br>

        {{#block "content"}}
        {{/block}}

    </div>
</div>
<br><br><br><br><br><br><br><br>
<footer class="footer">
    <ul class="nav nav-tabs bg-warning text-center">
        <li role="presentation" class="nav"><a href="/"><img src="/images/house.png" height="50px" width="50px">Homepage</a></li>
        <li role="presentation" class="nav"><a href="/animal/list/"><img src="/images/paw.png" height="50px" width="50px">Animals</a></li>
        <li role="presentation" class="nav"><a href="/endangered/list/"><img src="/images/paw.png" height="50px" width="50px">Endangered Animals</a></li>
    </ul>
</footer>


</body>
</html>